.agregar {
  display: center;
  margin-top: 15px;
}

.bodyTable {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#productos {
}

.trProductos {
  border: 1px solid black;
}

.tdProductos {
  border: 1px solid black;
}

.tablaProductos {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

.botonAgregarProducto {

}