.Container {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.contenedor {
    width: 100%;
}

.id {
    text-align: center;
    border: 1px solid black;
}

.nombre {
    text-align: center;
    border: 1px solid black;
}

.direccion {
    text-align: center;
    border: 1px solid black;
}

.titulo {
    text-align: center;
    border: 1px solid black;
    width: 25%;
}

.botonera {
    border: 1px solid black;
}

.formid {
    width: 25%;
    margin-bottom: 3px;
}

.formnombre {
    width: 25%;
    margin-bottom: 3px; 
}

.formdir {
    width: 25%;
    margin-bottom: 3px; 
}

.botonadd {
    width: 24.8%;
    margin-left: 0.2%;
    margin-bottom: 0.2%;
}

.botoncliente {
    width: 50%;
    margin: 0px 0px 0px 0px;
    border: 1px solid black;
}

.buscadorname {
    width: 24.8%;
    margin-left: 0.2%;
    margin-bottom: 0.2%;
}

.selectCliente {
    width: 24.8%;
}