* {
  box-sizing: border-box;
}

.button {
  height: 35;
  width: 85;
  margin: 5px 0px;
}

.tablas {
  margin: 0 2.5%;
}

.borderTabla {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-style: hidden;
}

.tablaTopLeftRadius {
  border-top-left-radius: 20px;
}

.tablaTopRightRadius {
  border-top-right-radius: 20px;
}

#menu {
  background-color: #212529c4;
  color: whitesmoke;
  margin-bottom: -1px;
}

.navLinks {
  color: whitesmoke;
}

.logo {
  padding: 7px 14px;
}

.overheadTable {
  height: 55px;
  display: flex;
  align-items: center;
}

.select {
  height: 30px;
  flex: 1;
  background-color: #212529;
  color: #ffffff;
  border: black solid 1px;
}

.input {
  background-color: #212529;
  color: #ffffff;
  height: 30px;
  flex: 2;
  border: black solid 1px;
  margin: 0 5px;
}

.facturaAgregarInput {
  length: 50px;
}

body {
  background-color: darkslategray;
}

.agregar {
  display: center;
  margin-top: 15px;
}

.bodyTable {
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.display-left {
}

.justified-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.justified-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
