
.facturasDiv {
    
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
}

table.facturaTavle {
  width: 100%;
  background-color: #5C21FF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #83068C;
  border-style: solid;
  color: gold;
  font-weight: bolder;
  text-align: center;
  font-size: x-large;
}

table.facturaTavle td, table.facturaTavle th {
  border-width: 2px;
  border-color: #83068C;
  border-style: solid;
  padding: 5px;
}

table.facturaTavle thead {
  background-color: #2AF8F8;
  color: #5C21FF;
}
