.agregar {
  height: 500px;

  font-size: medium;
}

h1 {
  text-align: center;
}

.cliente {
}

.agregar button {
  float: right;
  margin-right: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-width: 2px;

  border-style: solid;
  font-weight: bolder;
  text-align: center;
}

table td,
table th {
  border-width: 2px;
  border-style: solid;
  padding: 5px;
}

table thead {
  background-color: grey;
}

.tblProductos {
  height: 150px;
  overflow: auto;
}

.tablaDescuentos {
  height: 150px;
  overflow: auto;
}

.opciones {
}
